# Supabase 설정
# https://supabase.com 에서 프로젝트 생성 후 아래 값들을 입력하세요

NEXT_PUBLIC_SUPABASE_URL=https://ebzzubaeoevdiokzmcsa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVienp1YmFlb2V2ZGlva3ptY3NhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkxNzA3OTIsImV4cCI6MjA4NDc0Njc5Mn0.ND4KlQOp5p4kft8LyTHP-n4gChMZ1x13APv-HnlLmEM
